<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
    <h1>Sign Up</h1>
    <form action="/action_page.php">
        <label for="uname">User Name :</label><br>
        <input type="text" id="uname" name="fname" value="User Name"><br>
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname" value="First Name"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Last Name"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="password"><br><br>

        <input type="submit" value="Sign Up">
      </form> 
      
    </body>
</html>
